body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #06151A;
  padding: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

h3 {
  font-family: 'Arial, sans-serif';
  color: #333;
}

.tema-section {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
}